<div class="container">

    <div class="card">
        <div class="card-header">
            <h2>Diary</h2>
        </div>

        <br>
        <br>
        <br>
        <div class="card-body card-padding">
        <div class="row">

            <div class="col-sm-4">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" ng-model="title">
                        <label class="fg-label">Title</label> 
                    </div>
                </div>
            </div> 
    
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-file-text"></i></span>
                    <div class="fg-line">
                        <textarea class="form-control" ng-model="message"></textarea>
                        <label class="fg-label">Message</label>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="row">
             <button class="btn bgm-lime">Add Diary</button>
        </div>

        <br>
        <br>

        {{title}}
        {{message}}
    </div>

</div> 
