<div class="container">

    <div class="card">
        <div class="card-header">
            <h2>Add Member</h2>
        </div>

        <br>
        <br>
        <br>
        <div class="card-body card-padding">
        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Name</label> 
                    </div>
                </div>
            </div> 
    
        </div>
        <br>
        <br>
        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Department</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>
        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Level</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Photo</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Lukperth POsition</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Lmu Mail</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Other Mail</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Nickname</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>
        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Date of Birth</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Room Num</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>
        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Hall</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">
             <button class="btn bgm-cyan">Add Info</button>
        </div>
    </div>
</div> 
