<div class="container">

    <div class="card">
        <div class="card-header">
            <h2>Add Member</h2>
        </div>

        <br>
        <br>
        <br>
        <div class="card-body card-padding">
        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Name</label> 
                    </div>
                </div>
            </div> 
    
        </div>
        <br>
        <br>
        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Department</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>
        <div class="row">

            <div class="col-sm-7">
            <div class="fg-line">
                <div class="col-sm-7 m-b-15">
                    
                    <select chosen data-placeholder="Select a Hall..." class="w-100">
                        <option value=""></option>
                        <option value="100">100 Level</option>
                        <option value="200">200 Level</option>
                        <option value="300">300 Level</option>
                        <option value="400">400 Level</option>
                        <option value="500">500 Level</option>
                    </select>
                </div>
                <label class="fg-label">Select Level</label>
            </div>   
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                         <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                                <div>
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="...">
                                    </span>
                                    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                 </div>
                            </div>
                        <label class="fg-label">Photo</label> 
                    </div>
                </div>
            </div> 
    
        </div>


       

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Lukperth POsition</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Lmu Mail</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Other Mail</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Nickname</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>
        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Date of Birth</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-7">
                <div class="input-group fg-float">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control">
                        <label class="fg-label">Room Num</label> 
                    </div>
                </div>
            </div> 
    
        </div>

        <br>
        <br>
        <div class="row">
                    <div class="fg-line">
            <div class="col-sm-7">
            
                <div class="col-sm-7 m-b-15">
                    
                    <select chosen data-placeholder="Select a Hall..." class="w-100">
                        <option value=""></option>
                        <option value="United States">Daniel Hall</option>
                        <option value="United Kingdom">Joseph Kingdom</option>
                        <option value="Afghanistan">Abraham Hall</option>
                        <option value="Aland Islands">Jessicah Hall</option>
                        <option value="Albania">Nanle Hall</option>
                        <option value="Algeria">Null Hall</option>
                        <option value="American Samoa">Love  Hall</option>
                    </select>
                </div>
                <label class="fg-label">Select Hall</label>
            </div> 
        </div>
        </div>

        <br>
        <br>

        <div class="row">
             <button class="btn bgm-cyan">Add Member</button>
        </div>
    </div>
</div> 
